<section class="page">
    <h1>Estratégias de Preço</h1>

    <div class="actions">
        <button class="btn btn-primary" type="button" (click)="botaoSimular()">+ Simular estratégia de preço</button>
        <button class="btn btn-secondary" type="button" (click)="botaoFiltrar()">Filtrar</button>
    </div>

    <hr>

    <h2>Estratégias de Preço cadastradas</h2>

    <p>Nenhuma Estratégia de Preço cadastrada.</p>
</section>


<app-modal [aberto]="exibirFormulario" [titulo]="'Simular Estratégia de Preço'" (fechar)="fecharSimulacao()">

            <form (ngSubmit)="simularEstrategiaDePreco()">
                <div>
                    <label for="produto">Produto</label>
                    <select name="produtoId" [(ngModel)]="produtoId" id="produtoId" required>
                        <option [ngValue]="null">Selecione um produto</option>

                        @for (produto of produtos(); track produto.id) {
                            <option [ngValue]="produto.id"> {{ produto.nome }}</option>
                        }
                    </select>
                </div>

                <div>
                    <label for="margemLucro">Margem de lucro</label>
                    <input id="margemLucro" type="number"  step="0.01" min="0" [(ngModel)]="margemLucro" name="margemLucro" required>
                </div>

                <div>
                    <label for="percentualImposto">Percentual de imposto</label>
                    <input id="percentualImposto" type="number"  step="0.01" min="0" [(ngModel)]="percentualImposto" name="percentualImposto" required>
                </div>

                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary">Simular</button>
                    <button type="button" class="btn btn-secondary" (click)="fecharSimulacao()">Cancelar</button>
                </div>
            </form>

    @if (resultadoSimulacao; as resultado) {
        <hr>
        <section class="resultado-simulacao">

            <div class="resultado-header">
                <h3>Resultado da simulação</h3>
                <p>Montei a seguinte estratégia com base no produto selecionado e nos valores informados</p>
            </div>

            <div class="resultado-grid">

                <div class="result-card">
                    <span>Produto</span>
                    <strong>{{ resultado.produtoNome }}</strong>
                </div>

                <div class="result-card destaque">
                    <span>Preço sugerido</span>
                    <strong>{{ resultado.precoSugerido | currency:'BRL' }}</strong>
                </div>

                <div class="result-card">
                    <span>Demanda estimada</span>
                    <strong>
                        {{ resultado.demandaEstimada }}
                        {{ resultado.demandaEstimada > 1 ? ' unidades' : ' unidade' }}
                    </strong>
                </div>

                <div class="result-card destaque">
                    <span>Lucro total estimado</span>
                    <strong>{{ resultado.lucroTotalEstimado | currency:'BRL' }}</strong>
                </div>
            </div>

        </section>
    }

</app-modal>
